<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title text-center">Create New Author</h3>
  </div>

  <form role="form" novalidate name="form" class="form" ng-submit="vm.create(form)">
    <div class="modal-body">
      <div class="form-group">
        <input type="text" name="fullName" class="form-control input-lg" placeholder="Full Name" ng-model="vm.author.fullName" autofocus required>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="vm.cancel()">Not now</button>
      <button type="submit" class="btn btn-success">Super!</button>
    </div>
  </form>
</div>