<div class="container">
  <div class="page-header" style="position: relative;">
    <h1>Timeline</h1>
    <a href class="page-btn--create" ng-click="vm.openCreate()" ng-if="!vm.isEmpty()"><i class="fa fa-plus"></i></a>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div ng-include="'components/spinner/spinner.html'" ng-show="vm.loading"></div>

      <div class="jumbotron text-center" ng-if="vm.isEmpty() && !vm.loading">
        <h2>No lypos so far? Hard to believe...</h2>
        <p><a class="btn btn-success btn-lg" href role="button" ng-click="vm.openCreate()">Let's Create One</a></p>
      </div>

      <div ng-repeat="group in vm.groups | orderBy:'-day'" ng-if="!vm.isEmpty() && !vm.loading">
        <h2>{{ group.day }}</h2>
        <div class="list-group lypo-item" ng-repeat="lypo in group.lypos | orderBy:'-at'">
          <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">{{ lypo.text }} <small>at {{ lypo.at | amDateFormat:'ha' }}</small></h3>

            <div ng-if="lypo.isCreated()">
              <p class="list-group-item-text">said by: {{ lypo.author.fullName }}</p>
            </div>
            <div ng-if="lypo.isAuthored()">
              <p class="list-group-item-text">from: {{ lypo.creator.fullName }}</p>
            </div>

            <div class="lypo-item__remove" ng-click="vm.openRemove(lypo)" ng-if="lypo.isCreated()">
              <i class="fa fa-trash"></i>
            </div>

  <!--           <div ng-if="!lypo.isAuthored()">
              <p class="list-group-item-text">said by: {{ lypo.author.fullName }}</p>
              <p class="list-group-item-text">creator: {{ lypo.creator.fullName }}</p>
            </div>
            <div class="lypo-item__remove" ng-click="vm.openRemove(lypo)" ng-if="lypo.isCreated()">
              <i class="fa fa-trash"></i>
            </div> -->
          </a>
        </div>
      </div>
    </div>
  </div>
</div>