<div class="container">
  <div class="page-header" style="position: relative;">
    <h1>Timeline</h1>
    <a href class="page-btn--create" ng-click="vm.openCreate()" ng-if="!vm.empty"><i class="fa fa-plus"></i></a>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron text-center" ng-if="vm.empty">
        <h2>No lypos so far? Hard to believe...</h2>
        <p><a class="btn btn-success btn-lg" href role="button" ng-click="vm.openCreate()">Create one</a></p>
      </div>

      <div class="list-group" ng-repeat="lypo in vm.lypos | orderBy:'-at'" ng-if="!vm.empty">
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">{{ lypo.author.name }} <small><span am-time-ago="lypo.at"></span></small></h4>
          <p class="list-group-item-text">{{ lypo.text }}</p>
        </a>
      </div>
    </div>
  </div>
</div>