@import 'jeet'

// use('../styles/nesting-tree-traversal.js')

@import "font-awesome/css/font-awesome.css"
@import "bootstrap/dist/css/bootstrap.css"

//
// Font Awesome Fonts
//

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

//
// App-wide Styles
//

// Primary Colors
$white-color  = #ffffff
$blue-color   = #1eaaf1
$green-color  = #87d37c
$red-color    = #ff5454

// Secondary Colors
$royal-blue-color   = #4183d7
$chambare-color     = #3a539b
$toxic-green-color  = #7ed321
$dark-green-color   = #71bd1d
$turquoise-color    = #36d7b7
$light-sea-color    = #1ba39c
$alizarin-color     = #ff6c60
$sandstorm-color    = #f9bf3b
$orange-color       = #f27935

// Shades of grey
$grey-color = #999999
$grey-dark-color = #666666
$grey-light-color = #e4e6eb
$grey-lightest-color = #f1f2f7
$grey-highlight-color = #f5f5f5
$github-color = #627783
$silver-sand-color = #a7b2be

// Colors

.color--yellow
  color: $sandstorm-color

.browsehappy
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

// Component styles are injected through grunt
// injector
@import 'main/authors/authors.styl';
@import 'main/lypos/lypos.styl';
@import 'main/main.styl';
@import 'registration/login/login.styl';
@import 'spinner/spinner.styl';
// endinjector