<div class="container">
  <div class="alert alert-info" role="alert">
    We are in <strong>alpha</strong> at the moment and we would like to hear your thoughts.
  </div>

  <div class="page-header" style="position: relative;">
    <h1>Lypos</h1>
    <a href class="page-btn--create" ng-click="vm.openCreate()" ng-if="!vm.isEmpty()"><i class="fa fa-plus"></i></a>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div ng-include="'components/spinner/spinner.html'" ng-show="vm.loading"></div>

      <div class="jumbotron text-center" ng-if="vm.isEmpty() && !vm.loading">
        <h2>No lypos so far? Hard to believe...</h2>
        <p><a class="btn btn-success btn-lg" href role="button" ng-click="vm.openCreate()">Let's Create One</a></p>
      </div>

      <div ng-repeat="group in vm.groups | orderBy:'-day'" ng-if="!vm.isEmpty() && !vm.loading">
        <h2>{{ group.day }}</h2>
        <div class="list-group lypo-item" ng-repeat="lypo in group.lypos | orderBy:'-at'">
          <a href="#" class="list-group-item">
            <div class="lypo-item__remove" ng-click="vm.openRemove(lypo)" ng-if="lypo.isCreated()">
              <i class="fa fa-trash"></i>
            </div>

            <h3 class="list-group-item-heading text-center">{{ lypo.text }}</h3>
            <h3 class="list-group-item-heading text-center"><small>at {{ lypo.at | amDateFormat:'ha' }}</small></h3>

            <div>
              <p class="list-group-item-text">
                <span popover="{{ lypo.author.fullName }}" popover-trigger="click" popover-placement="right">said by <img class="img-circle" ng-src="{{ lypo.author.avatar.url + '?s=20&d=mm' }}"></span>
                <span class="pull-right" popover="{{ lypo.creator.fullName }}" popover-trigger="click" popover-placement="left">created by <img class="img-circle" ng-src="{{ lypo.creator.avatar.url + '?s=20&d=mm' }}"></span>
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>