.lypo
  position: relative
  margin-bottom: 10px
  padding: 10px
  border: 1px solid $grey-light-color
  border-radius: 3px
  // &__tools
  &__text
    margin: 0
    text-align: center
  &__time
    text-align: center
    color: $grey-color
  &__footer
    cf()
  &__author
    col(1/2)
  &__creator
    col(1/2)
    text-align: right

.lypo-item
  &__remove
    text-align: right
    cursor: pointer