<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl as vm">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Lypo</a>
    </div>
    <div collapse="vm.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav text-center">
        <li ng-repeat="item in vm.menu" ng-class="{ active: vm.isActive(item.link) }">
          <a ng-href="{{ item.link }}" ng-click="vm.isCollapsed = true">{{item.title}}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right text-center">
        <li><p class="navbar-text"><img class="profile-image img-circle" width="30" ng-src="{{ vm.account.avatar.url + '?s=60&d=mm' }}"> {{ vm.account.fullName }}</p></li>
        <li ng-class="{ active: vm.isActive('/logout') }"><a href="" ng-click="vm.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="alert alert-info" role="alert" style="margin-top: -21px;">
  We are in <strong>alpha</strong> at the moment and we would like to hear your thoughts.
</div>
