<a href class="page-btn--create" ng-click="vm.openCreate()" ng-if="!vm.empty"><i class="fa fa-plus"></i></a>

<div class="container">
  <div class="page-header">
    <h1>Authors</h1>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron text-center" ng-if="vm.empty">
        <h2>All lypos should have an author...</h2>
        <p><a class="btn btn-success btn-lg" href role="button" ng-click="vm.openCreate()">Create author</a></p>
      </div>

      <div class="list-group" ng-if="!vm.empty">
        <a href="#" class="list-group-item" ng-repeat="author in vm.authors">{{ author.name }}</a>
      </div>
    </div>
  </div>
</div>