<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title text-center">Create New Lypo</h3>
  </div>

  <form role="form" novalidate name="form" class="form" ng-submit="vm.create(form)">
    <div class="modal-body">
      <div class="form-group text-center">
        <p class="form-control-static">{{ vm.lypo.at | amDateFormat:'MMM D, YYYY' }}</p>
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="3" placeholder="Enter you lypo here" ng-model="vm.lypo.text" autofocus required></textarea>
      </div>
      <div class="form-group">
        <label>By</label>
        <select class="form-control" ng-model="vm.lypo.author" ng-options="author.fullName || author.account.fullName for author in vm.authors | orderBy:'fullName'">
          <option value="">-- Select Author --</option>
        </select>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="vm.cancel()">Nah...</button>
      <button type="submit" class="btn btn-success">Shoot!</button>
    </div>
  </form>
</div>