<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign Up</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.signup(form)" novalidate>
        <div class="form-group" ng-class="{'has-error': form.fullName.$invalid && (form.$submitted || form.fullName.$dirty)}">
          <input type="text" name="fullName" class="form-control input-lg"
            placeholder="What's your name?"
            ng-model="vm.account.fullName"
            autofocus
            required>
          <div ng-show="form.$submitted || form.fullName.$dirty">
            <p class="help-block" ng-show="form.fullName.$error.required">We really want to know your name.</p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': (form.username.$invalid && (form.$submitted || form.username.$dirty)) || vm.usernameError }">
          <input type="text" name="username" class="form-control input-lg"
            placeholder="What's your unique username?"
            ng-model="vm.account.username"
            required
            ng-pattern="/[a-zA-Z][a-zA-Z0-9.\-_]/"
            minlength="4"
            maxlength="32"
            ng-change="vm.usernameError = false">
          <div ng-show="form.$submitted || form.username.$dirty">
            <p class="help-block" ng-show="form.username.$error.required">We can't do much without your username.</p>
            <p class="help-block" ng-show="form.username.$error.minlength">Oops, too short, should be at least 4 characters.</p>
            <p class="help-block" ng-show="form.username.$error.maxlength">Oops, too long, should be no more than 32 characters.</p>
            <p class="help-block" ng-show="form.username.$error.pattern">Sorry, we can't allow format like that.</p>
            <p class="help-block" ng-show="vm.usernameError">Username like that already in use.</p>
          </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': (form.email.$invalid && (form.$submitted || form.email.$dirty)) || vm.emailError }">
          <input type="email" name="email" class="form-control input-lg"
            placeholder="What's you email?"
            ng-model="vm.account.email"
            required
            ng-change="vm.emailError = false">
          <div ng-show="form.$submitted || form.email.$dirty">
            <p class="help-block" ng-show="form.email.$error.required">We can't communicate with you without your email.</p>
            <p class="help-block" ng-show="form.email.$error.email">Doesn't look like a valid email.</p>
            <p class="help-block" ng-show="vm.emailError">Email like that already registered.</p>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': form.password.$invalid && (form.$submitted || form.password.$dirty)}">
          <input type="password" name="password" class="form-control input-lg"
            placeholder="What's your secret password?"
              ng-model="vm.account.password"
              required
              minlength="6"
              maxlength="32">
          <div ng-show="form.$submitted || form.password.$dirty">
            <p class="help-block" ng-show="form.password.$error.required">Password is required, we care about security.</p>
            <p class="help-block" ng-show="form.password.$error.minlength">Too short, hackers can break it.</p>
            <p class="help-block" ng-show="form.password.$error.minlength">Too long, it will be hard to remember it.</p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block">{{ vm.signupButtonText }}</button>
        </div>

        <div class="form-group text-center">
          Have a Lypo account? <a href="/login">Login</a>
          <div class="registration__terms">
            By starting you agree to our <a href="">terms</a> and <a href="">privacy policy</a>
          </div>
        </div>

        <!-- <hr>
        <div>
          <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
        </div> -->
      </form>
    </div>
  </div>
</div>
